
@media only screen and (max-width: 480px){
  body.gradient.rounded-style.rtl.index {
    direction: ltr !important;
  }
  .second-section-template--20069970280645__banner1_Bw3MUN header h1 {
      font-size: 13vw !important;
  }
  [lang="ar"] .second-section-template--20069970280645__banner1_Bw3MUN header h1 {
      font-size: 13vw !important;
  }
}

article.second-section.second-section-template--20069970280645__banner1_Bw3MUN header h1 {
      font-family: Bahij TheSans Arabic, sans-serif !important;
  line-height: normal !important;;
}